body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    margin-top: 50px;
}

#coon-count {
    font-size: 24px;
    margin: 20px 0;
}

.clicker img {
    cursor: pointer;
    transition: transform 0.1s;
}

.clicker img:active {
    transform: scale(0.9);
}

#buy-plunger-btn, #sell-plunger-btn, #buy-upgrade-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#plunger-count, #upgrade-status {
    margin-top: 10px;
}

/* Make sure the plunger box is smaller and centered at the top */
#plunger-box {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #333;
    display: inline-block;
    position: absolute;
    top: 10px; /* Distance from the top of the page */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    overflow: hidden;
    background-color: #fff;
}

#plunger-box h2 {
    margin: 0;
    padding-bottom: 10px;
}

#plunger-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2px;
}

#plunger-container img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}
